<ActionBar title="{{ 'changelog' | L }}">
  <!-- iOS Only -->
  <NavigationButton text="{{ 'go_back' | L }}" (tap)="goBack()"></NavigationButton>
</ActionBar>
<AbsoluteLayout>
  <ScrollView orientation="vertical" left="0" top="0" isEnabled="true" width="100%" height="100%">
    <StackLayout orientation="vertical">
      <StackLayout class="block" orientation="vertical" *ngFor="let change of changelog">
        <Label class="h2" text="YAAAY! {{ change.title }}" textWrap="true"></Label>
        <Label class="h3" text="({{ formatDate(change.date) }})"></Label>
        <Label *ngFor="let line of formatTranslation(change.content)" class="content" text="{{ line }}" textWrap="true"></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</AbsoluteLayout>
