<!--<ActionBar title="Ajustes"></ActionBar>-->

<ActionBar>
    <StackLayout orientation="horizontal" horizontalAlignment="left" class="action-bar-custom">
        <Label class="fas" style="margin-top: 10px" text="&#xf013;"></Label>
        <Label text=" Ajustes"></Label>
    </StackLayout>
</ActionBar>

<GridLayout>
    <ScrollView orientation="vertical" class="main-panel">
        <GridLayout columns="auto, *, auto" rows="40px, auto, auto, auto, auto, 40px, auto, auto, 40px, auto, auto, *">
            <!-- Row 0 -->
            <Label row="0" col="0" class="subtitle" text="Vibración"></Label>
            <CheckBox row="0" col="1" colSpan="2" id="vibChk" text="Activada" [checked]="vibrationActivated" (checkedChange)="toggleCheck($event, 'vibChk')"></CheckBox>
            <!-- Row 1 -->
            <Slider col="0" row="1" colSpan="2" id="vibTime" minValue="0" maxValue="2000" (valueChange)="onSliderValueChanged($event)" [value]="sliderValue"></Slider>
            <Label col="2" row="1" [text]="labelContent"></Label>
            <!-- Row 2 -->
            <StackLayout row="2" col="0" colSpan="3" class="hr-light m-10"></StackLayout>
            <!-- Row 3 -->
            <CheckBox row="3" col="0" colSpan="3" id="spamModeChk" text="Modo Spam" [checked]="spamModeActivated" (checkedChange)="toggleCheck($event, 'spamChk')"></CheckBox>
            <!-- Row 4 -->
            <StackLayout row="4" col="0" colSpan="3" class="hr-light m-10"></StackLayout>
            <!-- Row 5 -->
            <Label row="5" col="0" colSpan="3" class="subtitle" text="Estadísticas"></Label>
            <!-- Row 6 -->
            <Label row="6" col="0" colSpan="3" [text]="stadistics" textWrap="true"></Label>
            <!-- Row 7 -->
            <StackLayout row="7" col="0" colSpan="3" class="hr-light m-10"></StackLayout>
            <!-- Row 8 -->
            <Label row="8" col="0" colSpan="3" class="subtitle" [text]="aboutTitle"></Label>
            <!-- Row 9 -->
            <Label row="9" col="0" colSpan="3" [text]="about" textWrap="true"></Label>
            <!-- Last Row -->
            <StackLayout row="10" col="0" colSpan="3" orientation="horizontal" horizontalAlignment="center">
                <Button (tap)="goToGithub()">
                    <FormattedString>
                            <Span text="Ver en GitHub "></Span>
                            <Span android:text="&#xf09b;" fontFamily="Font Awesome 5 Brands, fa-brands-400"></Span>
                    </FormattedString> 
                </Button>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>