<GridLayout>
	<AbsoluteLayout class="top-panel">
		<Label text="Juanky presenta:"></Label>
	</AbsoluteLayout>
	<StackLayout class="main-panel">
		<Image style="width: 50%" src="~/res/yaaay.png"></Image>
		<Label textWrap="true" text="Presiona para YAAAY!"></Label>
		<Button text="YAAAY!" class="yaaay-btn" (tap)="onYaayButtonTap()"></Button>
	</StackLayout>
	<AbsoluteLayout class="bottom-panel" (tap)="onSettingsButtonTap()">
		<Label class="fas" style="font-size: 50em; color: gray" text="&#xf013;"></Label>
	</AbsoluteLayout>
</GridLayout>